<!-- <h1>{{title}} is running now</h1>
<h2>Developed by {{name}}</h2>

<h2>{{2+2}}</h2>

<h2>{{name.length}}</h2>
<h2>{{name.toUpperCase()}}</h2>

<h2>{{greet()}}</h2>

<h2>{{fruits}}</h2>
<h2>{{getCurrentTime() | date}}</h2>

<h2>{{person.name}}</h2> -->

<!-- <h1>-----------------------------</h1>
<app-test></app-test> -->
<!-- <h1>-----------------------------</h1>
<app-test2></app-test2> -->

<!-- <app-structural></app-structural> -->

<!-- <app-parent></app-parent> -->

<!-- <app-person-details></app-person-details>

<app-persons-private></app-persons-private> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ExpertzLab</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a routerLink="/animations" class="nav-link" href="#">Animations</a>
      </li>
    </ul>
  </div>
</nav>


<!-- <nav>
    <button class="txt txt-success" routerLink="/details">Details</button>
    <br>
    <button class="txt txt-success" routerLink="/private">Private</button>
</nav> -->
<router-outlet></router-outlet>



<!--dust particel-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end--->